// Imagehover.css overrides
//
// Copy variables from `_variables.scss` to this file to override default values without modifying source files.

$image-bg: #E0E0E0 ;
$figcaption-bg: rgba(133, 106, 93, 0.5);
$figcaption-padding: 30px;
$text-color: #ffffff;
$border-color: #ffffff;
$border-margin: 10px;
